flows.json
[
    {
        "id": "4a4a16cf3597ac62",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "629ba2fbb91a7377",
        "type": "inject",
        "z": "4a4a16cf3597ac62",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "eca697eba1b060b9"
            ]
        ]
    },
    {
        "id": "113f35b14b25a0cc",
        "type": "debug",
        "z": "4a4a16cf3597ac62",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "eca697eba1b060b9",
        "type": "function",
        "z": "4a4a16cf3597ac62",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "113f35b14b25a0cc"
            ]
        ]
    },
    {
        "id": "038747582bc3b90c",
        "type": "function",
        "z": "4a4a16cf3597ac62",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "6eb932b7f2295aca"
            ]
        ]
    },
    {
        "id": "afd35db1b511283e",
        "type": "inject",
        "z": "4a4a16cf3597ac62",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "038747582bc3b90c"
            ]
        ]
    },
    {
        "id": "6eb932b7f2295aca",
        "type": "debug",
        "z": "4a4a16cf3597ac62",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 500,
        "wires": []
    }
]